/* center items */
section {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    display: block;
    margin-block-start: 10px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

article {
    display: flex;
    width: 90%;
    margin: auto;
    margin-bottom: -2px;
}

.address {
    padding-top: 2px;
    width: 90%;
    height: 62.4px;
    background: #EEEEEE;
}

.special {
    width: 37%;
    padding-left: 0px;
    height: 76.4px;
    background: #7EE5DA;
    margin-right: 2px;
    margin-top: 2px;
    }

.help {
    width: 20%;
    height: 76.4px;
    background: #70CCC2;
    margin-top: 2px;
    margin-right: 2px;
    line-height: 14px;
}

.subs {
    width: 43%;
    height: 76.4px;
    background: #62B3AA;
    margin-top: 2px;
    line-height: 14px;
}

